* {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 20px;
  text-align: center;
}

.posts {
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background: #fff;
  padding: 20px;
  color: #000;
}

.posts .post {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 10px; */
}

.posts .post h1 {
  text-align: center;
  font-size: 22px;
  color: #555;
  margin-bottom: 10px;
  background: tomato;
  padding: 10px;
}

.posts .post p {
  padding: 10px;
  font-size: 16px;
  text-align: justify;
}
